doctype html
html
  head
    title Priya's Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
       ul
           div#logo
              img(src="/static/logo.jpg")
              | PDA
           li #[a(href="/") Home]
           li #[a(href="/" ) About]
           li #[a(href="/") Sevices]
           li #[a(href="/") Class info]
           li #[a(href="/") Contact Us]

    section#introsection
        div Welcome To Priya's Dance Academy
        div.small live your passion

    section#missionsection
        h2 Our mission 
        div.card
          h3 Perfection In Dance 
          div.card-box
             div.card-img
                img(src="/static/1.png")
             div.card-content 
                 p This is the best dance academy in your city,we work on perfection minutely. 

        div.card
          h3 Expert Teaching
          div.card-box
             div.card-img
                img(src="/static/2.png")
             div.card-content 
                 p We provide you the best faculty of india.They are self big names of Bollywood.

        div.card
          h3 Self Choice For Types In Dance
          div.card-box
             div.card-img
                img(src="/static/3.png")
             div.card-content 
                 p We dont force our choice on client,you are free to choose your favourite dance type.  


    section#sponsorsection
        h2 Our Sponsers
        div#sponsers
            img(src="/static/logo1.png", Class="spimage")
            img(src="/static/logo2.png" ,Class="spimage")
            img(src="/static/logo3.png" ,Class="spimage")
            img(src="/static/logo4.png" ,Class="spimage")


    footer#footersection
        |  Copyright Priya'sDanceAcademy 2020 |All rights are reserved.    
    script
      include ../static/index.js