extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
      include ../static/style.css
      include ../static/contactstyle.css

block content  
      div.card
          h3 Bharatanatyam
          div.card-box
             div.card-content 
                 p Bharatanatyam of Tamil Nadu in southern India has grown out of the art of dancers dedicated to temples, and was earlier known as Sadir or Dasi Attam. It is the first of India's traditional dances to be refashioned as a theatre art and to be exhibited widely both at home and abroad.
      div.card
          h3 Manipuri Dance
          div.card-box
              div.card-content 
                 p  Manipuri dance, evolved in Manipur in north-eastern India, is anchored in the Vaishnava faith of the Meiteis, or people of the Manipur valley. The temples of Manipur are still among the principal staging venues of the dance. Therefore the predominant theme of Manipuri dance is devotion.
      div.card
          h3 Kathak 
          div.card-box
             div.card-content 
                 p Kathak is the principal dance of northern India, and is widely practised in Uttar Pradesh, Rajasthan, Delhi, Madhya Pradesh, and even parts of western and eastern India today. It is believed to be connected with the narrative art of Kathakaras or story-tellers who have expounded the scriptures, the epics Ramayana and Mahabharata, and puranic literature to the lay masses since ancient times.
      div.card
          h3 Odissi Dance
          div.card-box
             div.card-content 
                 p Odissi dance has its origins in Orissa in eastern India, where in its rudimentary form it was performed as part of temple service by ‘maharis’ or female temple servants. The traditional dance was remoulded as a theatre art towards the middle of the twentieth century with reference not only to the existing dance art, but representation of dance in Orissa’s medieval sculpture, painting, and literature.
      div.card
          h3 Kathakali
          div.card-box
             div.card-content 
                 p Kathakali or ‘story play’ took shape in Kerala in southern India in the seventeenth century under the patronage of the prince of Karnataka, who wrote plays for performance drawn from the epic Ramayana in Malayalam, the language of the region. Stories from the Ramayana and Mahabharata provide the content of most Kathakali plays, which have come down to us in a steady stream over three centuries.
      div.card
          h3 Mohiniattam
          div.card-box
             div.card-content 
                 p Mohiniattam, which belongs to Kerala in southern India, takes its name from the mythic enchantress Mohini. It is dance of feminine grace, and has grown out of performances connected with Kerala’s temples.